<h2>Add new post</h2>
<p>
	<form action="/new" method="POST" role="form">
		<div class="form-group">
		    <label>Your name:</label>
		    <input type="text" class="form-control" placeholder="Type your name here" name="post[post_name]" 
		    value="<%= @p.post_name %>">
  		</div>

  		<label>Your post text:</label>
		<textarea class="form-control" rows="6" name="post[content]" 		value = "<%= @p.content %>"></textarea>
		
		<br>
	 	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>